agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.2
agate-sql==0.5.3
aiohttp==3.7.4
altgraph==0.17
apiclient==1.0.3
async-timeout==3.0.1
attrs==20.3.0
azure-cognitiveservices-vision-face==0.5.0
azure-common==1.1.27
Babel==2.6.0
brotlipy==0.7.0
CacheControl==0.12.6
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==0.6.1
cryptography==3.4.4
csvkit==1.0.3
cycler==0.10.0
dask==1.0.0
dbfread==2.0.7
deap==1.3.0
decorator==4.3.0
et-xmlfile==1.0.1
firebase-admin==4.5.3
Flask==1.1.2
future==0.17.1
google-api-core==1.25.1
google-api-python-client==2.2.0
google-auth==1.24.0
google-auth-httplib2==0.1.0
google-cloud-core==1.4.3
google-cloud-firestore==2.1.0
google-cloud-storage==1.32.0
google-cloud-vision==0.38.1
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.36.1
gunicorn==20.1.0
httplib2==0.19.1
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Janome==0.3.10
jdcal==1.4
Jinja2==2.11.3
kiwisolver==1.1.0
leather==0.3.3
llvmlite==0.26.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
msgpack==1.0.2
msrest==0.6.21
multidict==5.1.0
networkx==2.2
numba==0.41.0
numpy==1.15.4
oauthlib==3.1.0
opencv-python==3.4.4.19
openpyxl==2.5.12
pandas==0.23.4
parsedatetime==2.4
pefile==2019.4.18
Pillow==5.3.0
Platypus-Opt==1.0.4
proto-plus==1.18.1
protobuf==3.15.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
PyInstaller==3.6
pyOpenSSL==20.0.1
pyparsing==2.4.5
PySocks==1.7.1
python-dateutil==2.8.1
python-docx==0.8.11
python-slugify==1.2.6
pytimeparse==1.1.8
pytz==2021.1
PyWavelets==1.0.1
pywin32-ctypes==0.2.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
six==1.15.0
SQLAlchemy==1.2.15
toolz==0.9.0
tornado==6.0.3
typing-extensions==3.7.4.3
Unidecode==1.0.23
uritemplate==3.0.1
urllib3==1.26.3
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
xlrd==1.1.0
XlsxWriter==1.2.8
yarl==1.5.1
