<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}
    <br>
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="color:beige">AutoRecordAPP</h1>
        <h5 style="color:beige">あなたの研究時間，私が自動で記録します</h5>
        <br>
    </div>
<!-- <div class = "container" style="text-align:center;" class="mt-5">
    <div class="alert alert-primary" role="alert">
        <h1>AutoRecordAPP</h1>
        <h5 style="text-align:center;">あなたの研究時間，私が自動で記録します</h5>
    </div>
</div>     -->
    <br>
<form class="m-5" action="/menu" method="POST">
    <div style="text-align:center;">
        <div class="form-floating mb-3">
            <input type="text" name="loginID" class="form-control">
            <label for="floatingInput">LoginID</label>
        </div>
        <!-- <div class="form-floating">
            <input type="password" name="pass" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div> -->
    </div>
    <br>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-primary" role="button">ログイン</button>
    </div>

    <br><br>

    <div style="text-align:center;">
        <div class="form-floating mb-3">
            <input type="text" name="newID" class="form-control">
            <label for="floatingInput">新規登録ID</label>
        </div>
        <!-- <div class="form-floating">
            <input type="password" name="pass" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div> -->
    </div>
    <br>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-primary">登録</button>
    </div>
</form>
{% endblock %}