<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}
    <br>
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="color:beige">AutoRecordAPP</h1>
        <h5 style="color:beige">あなたの研究時間，私が自動で記録します</h5>
        <br>
    </div>
<!-- <div class = "container" style="text-align:center;" class="mt-5">
    <div class="alert alert-primary" role="alert">
        <h1>AutoRecordAPP</h1>
        <h5 style="text-align:center;">あなたの研究時間，私が自動で記録します</h5>
    </div>
</div>     -->
<p style="color: red; text-align: center;">そのIDはすでに登録されています</p>
<p style="color: red; text-align: center;">他のIDでもう一度お試しください</p>

<br>
<a style="text-align:center;" class="btn btn-dark btn-lg" href="/" role="button">トップページに戻る</a>
{% endblock %}