<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}
    <br>
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="color:beige">AutoRecordAPP</h1>
        <h5 style="color:beige">さんのメニュー</h5>
        <br>
    </div>
    <br>

    <div style="text-align:center;">
        <a class="btn btn-primary btn-lg" href="/preview" role="button">撮影開始</a>
    </div>
    <br>
    <div style="text-align:center;">
        <a class="btn btn-dark btn-lg" href="/log" role="button">過去のデータを見る</a>
    </div>
{% endblock %}